---
import ItemGrid from '~/components/ui/ItemGrid.astro';
// import Content from '~/components/widgets/Content.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const token = import.meta.env.VITE_API_TOKEN;
const base = import.meta.env.VITE_BACKEND_PATH;

// Facility
const facilityUrl = base + 'api/v1/facilities';
const facilityResponse = await fetch(facilityUrl, {
  method: 'GET',
  headers: {
    Authorization: 'Bearer ' + token,
    'Content-Type': 'application/json',
  },
});
const facilityData = await facilityResponse.json();
const facilityList = facilityData.list;

// Main Facility
const params = new URLSearchParams({
  is_main: 'true',
});

const mainFacilityUrl = `${facilityUrl}?${params.toString()}`;

const mainFacilityResponse = await fetch(mainFacilityUrl, {
  method: 'GET',
  headers: {
    Authorization: 'Bearer ' + token,
    'Content-Type': 'application/json',
  },
});
const mainFacilityData = await mainFacilityResponse.json();
const mainFacilityList = mainFacilityData.list;

// Service
const serviceUrl = base + 'api/v1/services';
const serviceResponse = await fetch(serviceUrl, {
  method: 'GET',
  headers: {
    Authorization: 'Bearer ' + token,
    'Content-Type': 'application/json',
  },
});
const serviceData = await serviceResponse.json();
const serviceList = serviceData.list;

const metadata = {
  title: 'Facilities',
  items: [],
};

const { columns = 2, facilities = facilityList, services = serviceList } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Facilities" title="Our Facilities" subtitle="" />

  <!-- component -->
  <div class="w-full">
    <div class="lg:w-9/12 mx-auto">
      <div class="px-7 text-box lg:text-sm text-gray-500 text-justify">
        At the PINE HILL RESORT (KALAW), we provide you with the best of guest facilities, ensuring your holiday is as
        smooth as possible. Our state-of-the-art fitness centre will cater to all fitness levels and it also features a
        sauna to unwind in after your work out. Our team of expert instructors are on hand at all times ensuring you
        have a safe and enjoyable work-out. Why not take a dip in the hot waters of our swimming pool, or relax whilst
        sitting in our Jacuzzi. Indulge yourself in our spa and take advantage of our team who offer both traditional
        and modern treatments. This full service our hotel also features laundry services. Our PINE HILL RESORT (KALAW)
        offers a welcoming and helpful Tour desk who are always on hand to assist you in creating your perfect holiday.
      </div>

      <!-- {
        mainFacilityList &&
          mainFacilityList.map((facility, index) => (
            <Content
              isReversed={index % 2 == 0 ? true : false}
              tagline=""
              title=""
              items={[]}
              image={{
                src: facility.image, // facility.image
                alt: facility.title, // facility.title
              }}
            >
              <Fragment slot="content">
                <h3 class="lg:ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl">{facility.title}</h3>
                <p class="lg:ml-10 mt-10 md:text-sm text-gray-500">{facility.description}</p>
              </Fragment>
            </Content>
          ))
      } -->

      <div class="space-y-16 py-10">
        {
          mainFacilityList &&
            mainFacilityList.map((facility, index) => (
              <div
                class={`flex flex-col md:flex-row ${index % 2 === 0 ? 'md:flex-row-reverse' : ''} items-center gap-8`}
              >
                <div class="md:w-1/2">
                  {/* <Image src={facility.image} alt={facility.title} class="w-full rounded-lg shadow-lg" /> */}
                  <div class="relative shadow-lg rounded-lg cursor-pointer parent-div h-auto md:w-96 lg:w-full">
                    <img
                      style="transition: transform 0.8s ease;"
                      src={facility.image}
                      alt={facility.title}
                      class="w-full h-auto object-cover rounded img-hover"
                    />
                  </div>
                </div>
                <div class="md:w-1/2">
                  <h3 class="text-2xl font-bold tracking-tight dark:text-white">{facility.title}</h3>
                  <p class="mt-4 text-gray-500">{facility.description}</p>
                </div>
              </div>
            ))
        }
      </div>

      <div class="w-full lg:flex px-7 lg:px-3">
        <div class="flex-1 lg:mr-5">
          <span class="block bg-green-100 my-10 font-bold px-3 py-2 rounded">Facilities</span>
          <ItemGrid
            items={facilities}
            columns={columns}
            defaultIcon="tabler:check"
            classes={{
              container: `gap-y-1 md:gap-y-4 mb-10`,
              panel: 'max-w-none text-gray-500',
              title: 'text-sm font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
              description: 'text-sm dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2 ',
              icon: 'flex h-5 w-5 items-center justify-center rounded-full bg-green-600 dark:bg-green-700 text-gray-50 px-1',
              action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
            }}
          />
        </div>
        <div class="flex-1 lg:ml-5">
          <span class="block bg-green-100 my-10 font-bold px-3 py-2 rounded">Services</span>
          <ItemGrid
            items={services}
            columns={columns}
            defaultIcon="tabler:check"
            classes={{
              container: `gap-y-1 md:gap-y-4 mb-10`,
              panel: 'max-w-none text-gray-500',
              title: 'text-sm font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
              description: 'text-sm dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2 ',
              icon: 'flex h-5 w-5 items-center justify-center rounded-full bg-green-600 dark:bg-green-700 text-gray-50 px-1',
              action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
            }}
          />
        </div>
      </div>
    </div>
  </div>

  <style>
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    .parent-div {
      overflow: hidden;
      position: relative;
    }
  </style>
</Layout>
